.header {
    padding: 10px 16px;
    background: #fff;
    color: black;
    box-shadow: 0 0 .1rem .1rem rgba(0,0,0,0.1);
  }
  body{
    position: relative;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
 font-size: 15px;
 word-spacing: 2px;
  }
  a{
    color:black !important;
  }
  .wrapper {
      position: relative;
      top:45px;
      z-index: 2;
  }
  .list{
      overflow-y: scroll;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .wrapper {
    padding-top: 102px;
  }
  .aside-list{
    display:none;
  }
  
  /* .aside-nav{
    position:absolute;
    display: block;
    z-index: 2;
  } */
  .docs-article{
    padding: 2rem 0;
    border-bottom: 1px solid #e7e9ed;
  }
  h4{
    color:#1f1e1e
  }
  .js-title{
    color:#1f1e1e;
    font-size: 18px;
  }
  h6{
    font-size: 20px;
  }
  li{
    font-size: 14px;
  }
  .nav-link:hover{
    background-color: #333;
    color:white!important;
  }
  .border-bottom{
    border-bottom: 1px solid #e7e9ed;
  }
  .header{
    display:flex;
  }
  .aside-list{
    display:none;
  }
 .span-color{
  color:rgb(232, 3, 156);
 }
 .nav-pills .nav-link.active{
  background-color: transparent;
  color:white;
 }  
::-webkit-scrollbar {
  width: .5rem;
  height: .2rem;
}
::-webkit-scrollbar-thumb {
  background: rgb(231, 229, 229)
}

 @media (max-width: 768px) {
  .navbar{
    position: absolute;
      width: 200px;
      height: 100%;
      z-index: 2;
      background: white;
      box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
   }
 }
 
  @media (min-width: 768px) {
    .header{
      display:block;
    }
    .aside-list{
      display:block;
    }
    .aside-list{
      height: calc(100vh - 56px);
      overflow-y: scroll;
      position: sticky;
     top:56px;
     background-color: #f3f3f3;
     animation: showList 400ms ease;
  }

  @keyframes showList {
    to{
      left: 0;
    }
  }
  }